{{! Since this is a parent route, we need an outlet somewhere so the
    child templates may be displayed. }}
{{outlet}}

<h4>Check out previous questions from Woodland Wanderers:</h4>

{{! The polls route model function is returning an array. We deal with that
    using the #each help to interate over the collection and render the block
    once for each instance. }}
<ul>
  {{#each model as |poll|}}
  {{! The #link-to help accepts on or more objects to populate the
      dynamic segments. The nesting we did in the router introduces
      route namespace. So the #link-to route name needs to match. The
      second object (poll) specifies the poll object }}
    <li>{{#link-to "polls.poll" poll}}{{poll.question}}{{/link-to}}</li>
  {{/each}}
</ul>
